<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DAFTAR USER</title>

    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/login.css')}}">
</head>
<body>
    <div class="login-page">
      <div class="form">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3"><b>Daftar</b></legend><br>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    <!-- =========ERROR=========== -->
                    {% if form.username.errors %}
                    {{ form.username (class='form-control form-control-lg is-invalid')}}
                    
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}

                    </div>
                    {% else %}
                    {{ form.username(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <!--=================================================-->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    <!-- =========ERROR=========== -->
                    {% if form.email.errors %}
                    {{ form.email (class='form-control form-control-lg is-invalid')}}
                
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <!--=================================================-->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    <!-- =========ERROR=========== -->
                    {% if form.password.errors %}
                    {{ form.password (class='form-control form-control-lg is-invalid')}}
            
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <!--=================================================-->
                <div class="form-group">
                    {{ form.konfirmasi_password.label(class="form-control-label") }}

                    <!-- =========ERROR=========== -->
                    {% if form.konfirmasi_password.errors %}
                    {{ form.konfirmasi_password (class='form-control form-control-lg is-invalid')}}
                
                    <div class="invalid-feedback">
                        {% for error in form.konfirmasi_password.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.konfirmasi_password(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
            </fieldset><br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <small class="text-muted">
            Sudah punya akun? <a class="ml-2" href="{{ url_for('vmahasiswa.loginuser') }}">Login disini</a>
        </small>
      </div>
    </div>

    <script src="{{url_for('static', filename='assets/js/login.js')}}"></script>
</body>
</html>